body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: antiquewhite;
}
.contact-info{
    text-transform: uppercase;
    list-style: none;
}
.pfp{
    max-height: 200px;
    margin-top: 10px
}
.menu-item{
    text-align: center;
    float: left;
}
.info{
    list-style: none;
}